<%- include('header') %>
    <h2>
        Admin Vagas:
        <a href="/admin/vagas">Vagas</a>
    </h2>
    <div>
        <form method="POST">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" id="titulo" placeholder="Titulo da vaga" name="titulo">
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" id="descricao" rows="3" name="descricao"></textarea>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <select class="form-control" id="categoria" name="categoria">
                    <% categorias.forEach( categoria => { %>
                        <option value="<%= categoria.id %>"><%= categoria.categoria %></option>
                    <% }) %>
                </select>
            </div>
            <div class="from-group">
                <button class="btn btn-primary">Salvar vaga</button>
            </div>
        </form>
    </div>
<%- include('footer') %>