<html>
    <head>
        <title>Jobify - DevPleno</title>

        <!-- Arquivos css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="/css/estilos.css" rel="stylesheet" />
    </head>
    <body>
        <div class="grid">
            <div class="barra">
                <%- include('nav') %>
                <!--<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.png" width="70" height="30" alt="Jobify">
                    </a>

                    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active my-2 my-lg-0">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                        </ul>
                    </div>
                </nav>-->
            </div>
            <div class="content container" style="margin-top: 60px; height: 100%">
                <h1>
                    <a href="/">
                        <img src="/images/logo.png" alt="Jobify" />
                    </a>
                </h1>
                <p>We are Jobify - Join US!</p>